@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body{
  font-family: 'Poppins', sans-serif;
  background: #0fffcf;
  background: linear-gradient(90deg,rgba(15, 255, 207, 1)0% rgba(87, 199, 133, 1)50%, rgba(237, 221, 83, 1)100%);
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header h1{
  color: #600c0c3f;
  font-size: 24px;
  font-style: italic;
  justify-content: center;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  margin-left: 20px;
}
nav ul li a{
  text-decoration: none;
  color: #600c0c3f;
  font-weight: 500;
  transition: color 0.3s ease;
  gap: 20px;
}
nav ul li a:hover{
  color: #600c0c;
}
section#home h2{
  color: #600c0c3f;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  text-align: center;
}
section#home p{
  color: #600c0c3f;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
section#about h2{
  color: #600c0c3f;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
}
section#about p{
  color: #600c0c3f;
  font-size: 16px;
  text-align: center;
  margin: 20px;
}
section#places h2{
  color: #600c0c3f;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
}
section#places .place-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.gallery{
  display: flex;
  gap: 1rem;
  max-width: 80rem;
}
.card{
  position: relative;
  left: 0;
  width: 4rem;
  border-radius: 1,2rem;
  overflow: hidden;
  cursor: pointer;
  background: var(--bg);
  transition: 0.4s ease-in-out;
  box-shadow: 0.5px 12px #0000004d;
  flex: 0.25;
}
.card img{
  position: relative;
  height: 20rem;
  object-fit: cover;
}
.card:hover{
  flex: 2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}
.card:nth-child(1)img{
  left: -8rem;
}
.card:nth-child(2)img{
  left: -6rem;
}
.card:nth-child(3)img{
  left: -14rem;
}

section#contact h2{
  color: #600c0c3f;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
}
section#contact p{
  color: #600c0c3f;
  font-size: 16px;
  text-align: center;
  margin: 20px;
}
footer{
  text-align: center;
  padding: 20px;
  background-color: #600c0c3f;
  color: #fff;
}
section#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
input, textarea{
  padding: 10px;
  border: 1px solid #600c0c3f;
  border-radius: 5px;
  box-shadow: #600c0c3f 0px 1px 2px;
  
}
button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #600c0c3f;
  color: #fff;
  cursor: pointer;
}
button:hover{
  background-color: #600c0c;
}


