@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body{
  font-family: 'Poppins', sans-serif;
  background: #0fffcf;
  background: linear-gradient(90deg,rgba(15, 255, 207, 1)0% rgba(87, 199, 133, 1)50%, rgba(237, 221, 83, 1)100%);
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header h1{
  color: #600c0c3f;
  font-size: 24px;
  font-style: italic;
  justify-content: center;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  margin-left: 20px;
}
nav ul li a{
  text-decoration: none;
  color: #600c0c3f;
  font-weight: 500;
  transition: color 0.3s ease;
  gap: 20px;
}
nav ul li a:hover{
  color: #600c0c;
}
section#home h2{
  color: #600c0c3f;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  text-align: center;
}
section#home p{
  color: #600c0c3f;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
section#about h2{
  color: #600c0c3f;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
}
section#about p{
  color: #600c0c3f;
  font-size: 16px;
  text-align: center;
  margin: 20px;
}
